.about{
    &__inner{
        display: flex;
        justify-content: space-between;
        padding: 120px 0;
        align-items: flex-start;
    }
    &__img{
        width: 1px;
        flex-grow: 1;            
    }
    &__content{
        padding-top: 70px;
        margin-left: 30px;
        max-width: 570px;
        
    }
    &__year-box{
        display: flex;
        align-items: flex-end;
        margin: 0 0 55px 20px;
    }
    &__year-num{
        @extend %rubik-bold;
        font-size: 140px;
        line-height: 1;
        color: $btn;
    }
    &__year-title{
        @extend %rubik-regular;
        font-size: 16px;
        line-height: 30px;
        color: $default;
        max-width: 100px;
        margin: 0 0 10px 30px;
        align-items: flex-end;
    }
    &__title{
        @extend %dmsans-bold;
        font-size: 36px;
        line-height: 1;
        color: $default;
        margin: 0 0 44px 20px;
    }
    &__text{
        @extend %rubik-regular;
        font-size: 16px;
        line-height: 30px;
        color: $default;
        padding-bottom: 42px;
        margin: 0 0 40px 20px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            height: 1px;
            left: 0;
            right: 50px;
            bottom: 0;
            background: #09316f;
            opacity: .1;
        }
    }
}

@media (max-width: 1100px) {
    .about{
        &__content{
            padding-top: 25px;
            margin-left: 15px;
        }
        &__year-box{
            margin-bottom: 20px;
        }
        &__year-num{
            font-size: 104px;
        }
        &__year-title{
            line-height: 26px;
            margin-left: 15px;
        }
        &__title{
            margin-bottom: 24px;
        }
    }
}

@media (max-width: 900px) {
    .about{
        &__content{
            padding-top: 10px;
            max-width: 480px;
        }
        &__title{
            font-size: 32px;
        }
        &__text{
            font-size: 14px;
            line-height: 1.6;
            padding-bottom: 25px;
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 800px) {
    .about{
        &__inner{
            padding: 80px 0;
        }
        &__content{
            max-width: 380px;
        }
    }
}

@media (max-width: 700px) {
    .about{
        &__year-num{
            font-size: 70px;
        }
        &__year-box{
            margin-bottom: 16px;
        }
        &__year-title{
            max-width: 130px;
        }
        &__title{
            font-size: 22px;
            margin-bottom: 20px;
        }
        &__text{
            font-size: 12px;
            line-height: 1.4;
            margin-bottom: 16px;
        }
    }
}

@media (max-width: 630px) {
    .about{
        &__inner{
            padding: 40px 0;
        }
        &__year-box, &__title, &__text{
            margin-left: 0;
        }
        &__year-title{
            max-width: none;
            margin-bottom: 4px;
        }
        &__img{
            display: none;
        }
        &__content{
            max-width: none;
        }
    }
}