.achievements{
    background: $second;
    margin-bottom: 120px;
    &__inner{
        display: flex;
        justify-content: space-between;
        padding: 90px 0 80px;
    }
    &__item{
        width: 270px;
        text-align: center;
    }
    &__box-icon{
        height: 70px;
        margin-bottom: 20px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    &__icon{
        max-height: 100%;
    }
    &__stat{
        @extend %dmsans-bold;
        font-size: 36px;
        line-height: 1;
        color: $default;
        margin-bottom: 22px;
        display: block;
    }
    &__text{
        @extend %dmsans-bold;
        font-size: 18px;
        line-height: 1;
        color: #243f4d;
        display: block;
    }
}

@media (max-width: 800px){
    .achievements{
        &__inner{
            padding: 70px 0 60px;
        }
        &__stat{
            font-size: 32px;
            margin-bottom: 10px;
        }
        &__text{
            font-size: 14px;
        }
        &__box-icon{
            height: 50px;
        }
    }
}

@media (max-width: 650px){
    .achievements{
        &__item{
            padding: 0 10px;
        }
        &__stat{
            font-size: 26px;
        }
    }
}

@media (max-width: 500px){
    .achievements{
        &__inner{
            padding: 30px 0 0;
            flex-wrap: wrap;
        }
        &__item{
            margin-bottom: 30px;
            width: 50%;
        }
        &__box-icon{
            margin-bottom: 10px;
        }
    }
}