.card-articles{
    display: flex;
    &::before{
        content: '';
        z-index: 1;
        position: absolute;
        background-color: $second;
        top: 250px;
        bottom: 0;
        left: -200%;
        right: -200%;
        opacity: .2;
    }
    &__inner{
        position: relative;
        z-index: 2;
        width: 33.33%;
        padding: 0 15px;
        
    }
    &__item{
        overflow: hidden;
        border-radius: 5px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: #fff;
    }
    &__img-link{
        overflow: hidden;
        width: 370px;
        height: 250px;
        display: block;
    }
    &__img{
        max-height: 100%;
    }
    &__box{
        position: relative;
        padding: 30px 25px 20px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
    &__label{
        position: absolute;
        @extend %rubik-bold;
        font-size: 14px;
        line-height: 1;
        background-color: $btn;
        padding: 10px 0;
        min-width: 100px;
        text-align: center;
        border-radius: 20px;
        left: 15px;
        top: -18px;
        color: #fff;
        text-transform: uppercase;
    }
    &__text{
        @extend %dmsans-medium;
        font-size: 18px;
        line-height: 1.2;
        color: #262626;
        margin-bottom: 18px;
    }
    .data-box{
        margin-top: auto;
    }
}

@media (max-width: 950px){
    .card-articles{
        &::before{
            top: 180px;
        }
        &__inner{
            padding: 0 10px;
        }
        &__box{
            padding: 20px 15px 15px;
        }
        &__text{
            font-size: 14px;
            margin-bottom: 12px;
        }
    }
}

@media (max-width: 800px){
    .card-articles{
        &__img-link{
            height: 180px;
        }
        &__label{
            font-size: 12px;
            min-width: 80px;
            padding: 8px 0;            
        }
    }
}

@media (max-width: 600px){
    .card-articles{
        display: block;
        &::before{
            content: none;
        }
        &__inner{
            width: 100%;
            margin-bottom: 15px;
        }
        &__img-link{
            max-width: 210px;
            width: 100%;
        }
        &__item{
            flex-direction: row;
        }
        &__label{
            left: -90px;
            top: 10px;
            box-shadow: 0px 0px 4px 3px rgb(255 255 255 / 20%);
        }
        &__text{
            max-width: 260px;
        }
    }
}

@media (max-width: 400px){
    .card-articles{
        &__img-link{
            max-width: 160px;
        }
    }
}

@media (max-width: 350px){
    .card-articles{
        &__item{
            display: block;
        }
        &__img-link{
            max-width: none;
            height: auto;
        }
        &__img{
            width: 100%;
        }
    }
}