.contact-site{
    margin: 100px 0;
    @extend %poppins-bold;
    text-align: center;
    &__sub-title{
        font-size: 16px;
        line-height: 20px;
        color: #a3bbc8;
    }
    &__title{
        margin-bottom: 60px;
        font-size: 35px;
        line-height: 57px;
        color: #436372;
    }
    &__box{
        display: flex;
        justify-content: center;
    }
    &__inner{
        margin: 0 10px;
    }
}