.filter-products{
    display: flex;
    justify-content: center;
    &__item{
        @extend %dmsans-bold;
        font-size: 16px;
        padding: 0 15px;
        color: #000;
        opacity: .4;
        cursor: pointer;
    }
    &__item--active{
        opacity: 1;
    }
}

@media (max-width: 500px){
    .filter-products{
        &__item{
            padding: 0 8px;
            font-size: 14px;
        }
    }
}