.header{
    padding: 45px 0;
    position: relative;
    &__container{
        max-width: 1740px;
        padding: 0 15px;
        margin: 0 auto;
    }
    &__inner{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
}