.menu{
    display: flex;
    justify-content: space-between;
    margin-left: 27%;
    &__list-item{
        display: inline-block;
        margin: 0 17px;
    }
    &__list-link{
        @extend %rubik-medium;
        font-size: 15px;
        line-height: 1;
    }
    &__btn{
        display: none;
        width: 30px;
        height: 22px;
        background: none;
        justify-content: center;
        align-items: center;
        position: relative;
        cursor: pointer;

        &::after, &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 3px;
            background-color: $default;
        }
        &::before{
            top: 0;
        }
        &::after{
            bottom: 0;
        }
        span{
            width: 100%;
            height: 3px;
            background-color: $default;
        }
    }
    
}

@media (max-width: 1500px){
    .menu{
        margin: 0 0 0 auto;
    }
}

@media (max-width: 1200px){
    .menu{
        order: 1;
        margin-left: 40px;
        &__btn{
            display: flex;
        }
        &__list{
            display: flex;
            position: absolute;
            transform: translateY(-200%);
            width: 100%;
            left: 0;
            flex-direction: column;
            align-items: center;
            z-index: 6;
            transition: all .3s;
            background: $warm;
            top: 100px;
            opacity: 0;
        }
        &__list--active{
            transform: translateY(0);
            opacity: 1;
        }
        &__list-item{
            width: 100%;
            text-align: center;
        }
        &__list-link{
            display: block;
            padding: 12px 0;
            &--active, &:hover{
                border-bottom: 1px solid $default;
                padding: 12px 0 11px;
            }
        }
    }
}

@media (max-width: 600px){
    .menu{
        order: 0;
        margin: 0 0 0 auto;
        &__list{
            top: 160px;
        }
    }
}