.modal{
    max-width: 570px;
    padding: 0 50px;
    margin: 115px auto 0;
    &__label{
        display: block;
        margin-bottom: 20px;
    }
    &__name,&__link{
        font-size: 14px;
        line-height: 1;
        color: $text;
        @extend %rubik-regular;
    }
    &__link{
        cursor: pointer;
    }
    &__input {
        display: block;
        width: 100%;
        border: none;
        margin-top: 2px;
        height: 60px;
        padding: 0 15px;
        border: 2px solid #f6f6f6;
    }
    &__btn{
        display: block;
        background: $btn;
        color: #fff;
        border: none;
        width: 100%;
        cursor: pointer;
        margin: 35px 0 20px;
        font-size: 18px;
        line-height: 60px;
        color: #fffefe;
        @extend %rubik-medium;
        text-align: center;
    }
    &__box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
        border-bottom: 1px solid #f6f6f6;
        .modal__label{
            margin: 0;
        }
    }
    &__link-box{
        padding: 30px 0 20px;
        text-align: center;
    }
    &__link-main{
        font-size: 14px;
        line-height: 24px;
        color: $text;
        @extend %rubik-regular;
    }
    &__check-box{
        width: 14px;
        height: 14px;
        border-radius: 2px;
        background-color: #ebebeb;
        display: inline-block;
        margin-right: 10px;
    }
    &__error{
        display: block;
        font-size: 18px;
        line-height: 60px;
        color: $default;
        @extend %rubik-medium;
        text-align: center;
        border: 1px solid $btn;
    }
    &__label input:checked ~ .modal__check-box{
        background-image: url(../../images/check.png);
        background-position: center;
        background-repeat: no-repeat;
    }
}

@media (max-width: 500px){
    .modal{
        padding: 0;
    }
}

@media (max-width: 400px){
    .modal{
        margin-top: 70px;
        padding: 0;
        &__name, &__link,&__link-main{
            font-size: 12px;
        }
        &__check-box{
            margin-right: 5px;
        }
        &__link-box{
            padding: 20px 0 10px;
        }
        &__input{
            height: 50px;
        }
        &__btn{
            margin: 0 0 10px;
        }
    }
}
