.partners{
    position: relative;
    padding: 100px 0 90px;
    &::before{
        content: '';
        position: absolute;
        left: 0;top: 0;
        width: 100%;
        height: 100%;
        opacity: .2;
        background-color: $second;
    }
    &__list{
        display: flex;
        align-items: center;
    }
    &__item{
        margin: 0 auto;
        padding: 0 8px;
    }
    img{
        max-width: 100%;
    }
}

@media (max-width: 800px){
    .partners{
        padding: 50px 0 40px;
    }
}

@media (max-width: 600px){
    .partners{
        padding: 25px 0 15px;
        &__list{
            flex-wrap: wrap;
        }
        &__item{
            margin-bottom: 20px;
        }
        img{
            max-height: 60px;
        }
    }
}