.shop{
    margin-top: 120px;
    position: relative;
    &__inner{
        display: flex;
    }
    &__filter{
        max-width: 270px;
        width: 100%;
        margin-right: 30px;
    }
}

@media (max-width: 1100px) {
    .shop{
        &__inner{
            display: block;
        }
        &__filter{
            position: absolute;
            display: none;
        }
    }
}