.terms{
    padding: 115px 0 40px;
    &__item{
        margin-bottom: 65px;
    }
    &__item:last-child{
        margin: 0;
    }
    &__block-unit{
        display: flex;
        margin-bottom: 25px;
        :last-child{
            margin-bottom: 0;
        }
    }
    &__block-unit:last-child{
        margin-bottom: 0;
    }
    &__title {
        font-size: 24px;
        line-height: 40px;
        color: $default;
        @extend %rubik-medium;
        margin-bottom: 25px;
    }
    &__num, &__text{
        font-size: 16px;
        line-height: 30px;
        color: $default;
        @extend %rubik-regular;
    }
    &__num{
        min-width: 40px;
    }
}

@media (max-width: 500px){
    .terms{
        padding: 80px 0 20px;
        &__item{
            margin-bottom: 35px;
        }
        &__title{
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 15px;
        }
        &__block-unit{
            margin-bottom: 10px;
        }
        &__num, &__text{
            font-size: 12px;
            line-height: 20px;
        }
        &__num{
            min-width: 26px;
        }
    }
}
