.top-slider{
    &__container{
        max-width: 1740px;
        padding: 0 15px;
        margin: 0 auto;
    }
    &__inner{
        padding: 90px 0;
        background-color: $second;
    }
    &__item{
        max-width: 1330px;
        padding: 0 30px;
    }
    &__item-box{
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__content{
        max-width: 470px;
        padding: 125px 0 0 0;
        text-align: left;
    }
    &__title{
        @extend %rubik-medium;
        font-size: 72px;
        line-height: 1;
        color: $default;
        margin-bottom: 36px;
        text-transform: uppercase;
    }
    &__text{
        @extend %rubik-regular;
        font-size: 18px;
        line-height: 30px;
        color: $text;
        margin-bottom: 36px;
        max-width: 370px;
    }
    &__link{
        display: inline-block;
        min-width: 200px;
        background-color: $btn;
        padding: 22px 0 22px 28px;
        color: #fff;
        @extend %rubik-medium;
        font-size: 15px;
        line-height: 1;
        position: relative;
    }
    &__link::after{
        content: '';
        display: inline-block;
        width: 22px;
        height: 9px;
        background-image: url(../../images/icons/arrow-link.svg);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        right: 18px;
        top: 0;
        bottom: 0;
        margin: auto 0;
    }
    .slick-slide {
        text-align: center;
    }
    .slick-dots{
        display: flex;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 50px;
        li{
            margin: 0 6px;
        }
        li button{
            width: 30px;
            height: 30px;
            display: inline-block;
            font-size: 11px;
            line-height: 1;
            @extend %rubik-medium;
            color: $default;
            cursor: pointer;
            position: relative;
            background: none;
            border-radius: 50%;
            text-align: center;
        }
        li button::before{
            content: '';
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: #fff;
            position: absolute;
            left: 0;
            top: 0;
            opacity: .3;
        }
        .slick-active{
            button{
                background-color: #fff;
            }
            button::before{
                display: none;
            }
        }
    }
}

@media (max-width: 1200px){
    .top-slider{
        &__content{
            padding-top: 70px;
        }
        &__inner{
            padding: 40px 0;
        }
        &__img{
            width: 40%;
        }
        .slick-dots{
            bottom: 12px;
        }
    }
}

@media (max-width: 900px){
    img.top-slider__img{
        display: none;
    }
    .top-slider{
        &__content{
            max-width: none;
        }
    }
}

@media (max-width: 720px){
    .top-slider{
        &__inner {
        padding: 60px 0;
        }
        &__content{
            padding: 0;
        }
    }
}

@media (max-width: 600px){
    .top-slider{
        &__title{
            font-size: 50px;
        }
        &__link{
            min-width: 160px;
            padding: 16px 0 18px 16px;
        }
    }
}

@media (max-width: 400px){
    .top-slider{
        &__inner{
            padding-top: 30px;
        }
        &__title{
            font-size: 40px;
            margin-bottom: 20px;
        }
        &__text{
            margin-bottom: 20px;
        }
    }
}