html,
body {
    height: 100%;
}
body {
    color: $default;
    font-size: 16px;
    line-height: 30px;
    @extend %dmsans-regular;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

a {
    color: $default;
    font-size: 16px;
    line-height: 26px;
    @extend %dmsans-regular;
    box-sizing: border-box;
}

.title {
    text-align: center;
    @extend %dmsans-bold;
    font-size: 36px;
    line-height: 1;
    color: $title;
}

.text {
    text-align: center;
    max-width: 570px;
    margin: 0 auto 55px;
}

.header--404-page {
    background-color: $high;
}

.hidden{
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    height: 0;
    width: 0;
    opacity: 0;
}

@media (max-width: 620px){
    .title{
        font-size: 40px;
        line-height: 48px;
    }
}

@media (max-width: 500px){
    .title{
        font-size: 36px;
    }
}

@media (max-width: 400px){
    .title{
        font-size: 32px;
        line-height: 40px;
    }
}