@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

@import 'block/header';
@import 'block/menu';
@import 'block/user-nav';
@import 'block/logo';
@import 'block/top-slider';
@import 'block/advantages';
@import 'block/page-section';
@import 'block/filter-products';
@import 'block/card-products';
@import 'block/special';
@import 'block/card-design';
@import 'block/video-interior';
@import 'block/card-articles';
@import 'block/data-box';
@import 'block/partners';
@import 'block/footer';
@import 'block/footer-main';
@import 'block/footer-second';
@import 'block/top';
@import 'block/breadcrumbs';
@import 'block/about';
@import 'block/about-achievements';
@import 'block/achievements';
@import 'block/team';
@import 'block/btn';
@import 'block/card-persons';
@import 'block/terms';
@import 'block/modal';
@import 'block/shop';
@import 'block/filter';
@import 'block/filter-form';
@import 'block/filter-price';
@import 'block/filter-brand';
@import 'block/product-recent';
@import 'block/shop-content';
@import 'block/product-card';
@import 'block/product-page';
@import 'block/product-detail';
@import 'block/product-slide';
@import 'block/jq-number';
@import 'block/product-info';
@import 'block/product-tabs';
@import 'block/related';
@import 'block/contact-site';
@import 'block/location-contact';
@import 'block/double-page';
@import 'block/contact-form';
@import 'block/map-contact';


